/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section */
#home{
    height: 370px;
    padding: 3px 28px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}

/* Services Seciion */
#services{
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients Section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact us */
/* #contact{
    position: table;
} */
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(/contact.jpg) no-repeat center center/cover;
}
#contact-box form{
    width:80%;
}

/* Footer */

/* Utility Classes */
.h-primary{
    font-size: 26px;

}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}

.right-in {
    position: absolute;
    right: 78px;
    top: 33px;
    display: inline-block;
    background-color: transparent;
}
.right-in:hover {
    box-shadow: 0px 0px 0px rgb(249, 12, 134);
}

.insta{
    padding: 6px 15px;
    background: url(/icons8-instagram-48.png) no-repeat center center / cover;
    background-size: 31px 31px;
}

.right-git {
    position: absolute;
    right: 34px;
    top: 33px;
    display: inline-block;
    background-color: transparent;
}
.right-git:hover {
    box-shadow: 0px 0px 0px rgb(249, 12, 134);
}    

.git{
    padding: 6px 16px;
    background: url(/icons8-github-48.png) no-repeat center center / cover;
    background-size: 26px 26px;
}