extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
        include ../static/style.css
        include ../static/styleContact.css

block content 
    div.container
        h1 Contact Us
        form(action="/contact", method="post", class="myForm") 
            input(type="text", class="myInput", name="name", id="name" placeholder="Enter Your Name" required) 
            input(type="phone", class="myInput", name="phone", id="phone" placeholder="Enter Your Phone No." required) 
            input(type="email", class="myInput", name="email", id="email" placeholder="Enter Your Email ID" required) 
            input(type="text", class="myInput", name="address", id="address" placeholder="Enter Your Address" required) 
            input(type="text", class="myInput", name="desc", id="desc" placeholder="Enter Your Concern" min="5" required autocomplete="off") 
            button(class="btn")
                | Submit


//- autocomplete="off"                