* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: url(/img/resident-evil-village-3840x2160-screenshot-4k-playstation-5-ps5-22620.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    border: 1px solid rgb(197, 195, 195);
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    padding: 22px;
    width: 27%;
    color: white;
    position: absolute;
    top: 25%;
    left: 64%;
  }
  
  .container::before {
    content: "";
    /* background-color: #221a19; */
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
  }
  
  .container h1 {
    font-family: 'The Nautigal', cursive;
    width: 37%;
    display: inline-block;
    font-size: 47px;
    border-bottom: 5px solid rgb(214, 136, 35);
    margin-bottom: 15px;
    padding: 13px 0;
    color: rgb(214, 136, 35);
    text-shadow: 2px 2px #000000;
  }
  
  .box {
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid rgb(214, 136, 35);
  }
  
  .box input {
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    font-family: 'Tsukimi Rounded', sans-serif;
  }
  
  .box i {
    width: 25px;
    text-align: center;
  }
  
  .btn {
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid rgb(214, 136, 35);
    border-radius: 10px;
    font-size: 27px;
    background: none;
    font-weight: bold;
    font-family: 'The Nautigal', cursive;
    text-shadow: 1px 1px 1px black;
  }
  
  .btn:hover {
    opacity: 0.9;
    color: rgb(214, 136, 35);
    background: #cecece;

  }
  
  
  .fa-envelope:before {
    content: "\f0e0";
    color: white;
  }
  
  .fa-key:before {
    content: "\f084";
    color: white;
  }
  
  
  
  
  
  /* Style for the container holding the sidebar */
  .container1 {
    height: 100vh;
    /* Set the container to fill the full viewport height */
    display: flex;
    /* justify-content: center; */
    /* Center the navbar horizontally */
    align-items: center;
    /* Center the navbar vertically */
    /* background-color: #f0f0f0; */
  }
  
  /* Style for the sidebar */
  .sidebar {
    width: 150px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
  }
  
  /* Style for the sidebar links */
  .sidebar ul {
    list-style: none;
    padding: 20px;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover,
  nav a.active {
    border-bottom: 2px solid white;
    /* Set the underline color for hover and active states */
  }