*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

html{
    font-size: 15px;
    overflow-x: hidden;
}

p,a,li{
    font-size: 2.4rem;
    color: #20262E;
    /* overflow: hidden; */
}

a{
    text-decoration: none;
}

.fa-bars{
    font-size: 3.2rem;
}

header{
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: pink; */
}

.navbar{
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s linear;
}

.nav-first{
    background-color: #655DBB;
    width: 50%;
    max-width: 52rem;
    min-width: 32rem;
    /* border-radius: 20px;
    border-left: 1px solid black; */
}

.nav-second{
    background-color: #3E54AC;
    width: 95%;
    /* border-radius: 20px;
    border-left: 1px solid black; */
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ECF2FF;
    width: 90%;
    /* border-radius: 20px;
    border-left: 1px solid black; */
}

.navbar-list ul{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    list-style: none;
}

.navbar-list a{
    font-size: 2.4rem;
    /* text-transform: uppercase; */
}

.navbar-list a:hover{
    text-decoration: underline;
    color: #3c3c3c;
    background-color: #dfe8fc;
    border-radius: 12px;
}

.active{
    transform: translateX(0);
}

.fa-square-xmark{
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 3.2rem;
    cursor: pointer;
}

.fa-bars{
    cursor: pointer;
}

/* Visibility & Z-Index */

.box{
    width: 90px;
    height: 90px;
    border: 2px solid black;
    border-radius: 20px;
}

#box1{
    position: relative;
    top: 49px;
    z-index: -35;
    background-color: red;
}
#box2{
    position: relative;
    top: 14px;
    z-index: -165;
    background-color: green;
    /* z-index will work only for position relative, absolute, fixed & sticky */
    /* visibility: hidden;  will hide the element and but show space */
    /* display: none;  will hide the element but not show space  */
}
#box3{
    background-color: blue;
}
#box4{
    background-color: yellow;
}

 .container{
    display: flex; /* display flex ek baar mein hi sabko ek line mein laakar seedha khada kar deta hai  */
    /* flex-direction: column;     */
    /* flex-direction: row;     */
    /* flex-direction: row-reverse;     */
    /* flex-wrap: wrap;  */
    /* flex-wrap: wrap-reverse;  */

    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */

    /* align-items: center;
    align-items: flex-end;
    align-items: flex-start;
    align-items: stretch; */

    height: 100vh;
    width: 90vw;
    border: 2px solid;
    border-radius: 20px;
 }

 .item{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px solid green;
    margin: 10px;
    padding: 3px;
    border-radius: 20px;
 }

/* flex properties for flex items */

 #item1{
    order: 20;
 }
 #item2{
    flex-grow: 2;
 }
 #item3{
    order: 2;
 }

 .sizer{
    font-size: 10px;
 }

 h1{
    text-align: center;
 }

 #first{
    font-size: 10em;
    padding: 1em;
 }
 
 #second{
    font-size: 3rem;
    padding: 3rem;
 }