body {
    background: pink;
    margin: 0px;
    padding: 0px;
}

.left {
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;
    background: red;
}

.mid {
    display: block;
    width: 50%;
    margin: 20px auto;
    background: green;
}

.right {
    position: absolute;
    right: 34px;
    top: 33px;
    display: inline-block;
    background: yellow;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
    margin: auto 10px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.insta{
    padding: 34px 23px;
    background: url(https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png) no-repeat center center / cover;
    background-size: 30px 30px;

}