@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
    height: 46px;
    /* filter: invert(1); */
}

#navbar {
    /* background-color: #ff004a; */
    background-color: saddlebrown;
    padding: 13.7px 14px;
    /* font-family: 'Slackey', cursive; */
    font-family: 'Righteous', cursive;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 13px 20px;
}
#navbar li a:hover{
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#introSection {
    background: url(/static/bg.jpg) center / cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 35px;
    height: 425px;
    /* background-color: red; */
}

#introSection div.small{
    padding: 5px;
    font-size: 27px;
}

#missionSection {
    height: 326px;
    text-align: center;
    justify-content: center;
    font-family: 'Paytone One', sans-serif;
}

#missionSection h2{
    color: black;
    text-align: center;
    padding-top: 12px;
    font-family: 'Paytone One', sans-serif;
    font-size: 31px;
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    margin: 23px 23px;
    height: 209px;
    background: whitesmoke;
}

.card h3{
    margin: 12px;
    margin-top: 15px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}

.card-img img{
    height: inherit; 
}

.card-content{
    padding: 0 20px;
}

.card-content p{
    font-family: 'Righteous', cursive;
    font-size: 17.6px;
}

#sponsorsSection {
    height: 261px;
    /* background-color: yellow; */
    background-color: rgba(139, 69, 19, 0.449);
}

#sponsorsSection h2{
    color: black;
    text-align: center;
    padding-top: 12px;
    font-family: 'Paytone One', sans-serif;
    font-size: 31px;
}

#sponsors{
    text-align: center;
    height: 191px;
    max-width: 1000px;
    margin: 27px auto
}

.spImage{
    height: 90px;
    margin: 25px;
}

#footer {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    /* font-family: 'Righteous', cursive; */
    height: 30px;
    background-color: black;
}